# ### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

# ### Frontend ###
/ChatbotPortal/frontend/react/node_modules
/ChatbotPortal/node_modules/
/ChatbotPortal/frontend/react/webpack
/ChatbotPortal/frontend/react/package-lock.json

# ### Backend ###
/ChatbotPortal/db.sqlite3
/ChatbotPortal/test_db.sqlite3
/ChatbotPortal/media

# ### Python ###
__pycache__/

.DS_Store
ChatbotPortal/frontend/react/package-lock.json
ChatbotPortal/frontend/react/webpack/js/app-3029d15ac0cadb753cdd.js
ChatbotPortal/frontend/react/webpack/index.html
ChatbotPortal/settings.py
settings.py
