### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### Frontend ###
/ChatbotPortal/frontend/react/node_modules
/ChatbotPortal/frontend/react/webpack

### Backend ###
/ChatbotPortal/db.sqlite3
migrations/

### Python ###
__pycache__/
