.App {
  margin-left: 20px;
}

.input {
  display: block;
  margin: 5px 0 5px;
}

:global(.ui.fluid.container).noPaddingContainer {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

:global(.ui.segments).headerMenu{
    margin: 0 !important;
    border: 0 solid transparent;
    box-shadow: 0 1px 2px 0;
}

:global(.ui.segments).segmentWeb{
    margin: 0;
    border: 0 solid transparent;
    box-shadow: 0 1px 2px 0;
}
:global(.ui.dropdown .menu).headerMobile{
  background: black !important;
}

@media (max-width: 767px) {
    .segmentResponsive {
        /* Enough to fit iphone6 100% is good enough for us */
        min-height: 478px;
    }
}

@media (min-width: 768px) {
    .segmentResponsive {
        /* I aimed for around 1280 x 800 screen monitor, that's probably the lowest we'll support */
        min-height: 583px
    }
}