.tableStyle{
    border: 1px solid teal;
}

.colorStyle {
    color : Purple;
}

.textStyle {
    color: Red;
}

:global(.ui.segment).segmentBackground  {
    background-color: palegreen;
}

:global(.ui.card).cardBackground {
    background-color: lavender;
}

.centeredForm {
    width: 50%;
    left: 25%;
}

.fixedInputHeight {
    height: 38px
}