.tableStyle{
    border: 1px solid teal;
}

.colorStyle {
    color : Purple;
}

.textStyle {
    color: Red;
}

/*:global(.ui.segment).segmentBackground  {*/
/*    background-color: palegreen;*/
/*}*/

/*:global(.ui.card).cardBackground {*/
/*    background-color: lavender;*/
/*}*/

.centeredFormWeb {
    width: 50%;
    left: 25%;
}

.centeredFormMobile {
    width: 100%;
}

.fixedInputHeight {
    height: 45px
}

:global(.ui.segments).segmentWeb{
  margin: 0;
    border: 0 solid rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);

}

:global(.ui.form .field).imageMobile{
  margin: 0 0 0;
}

.nameMobile{
    padding: 0.5em 0.5em 0;
}

:global(.ui.divider).descriptionPadding{
    margin: 0 0;
}
